# your jira server url
jira_url="https://MY-SUBDOMAIN.atlassian.net/"

# where the temporary html file will be stored
temp_file="/tmp/jira-table.html"

# your query (notice the escaped double quotes)
query="project = SD AND status = \"Waiting Service Desk\" order by created DESC"

# your username (generally your email, for Jira Cloud)
user="my.username@my-domain.tdl"

# your Jira API token
token="myjiraAPItoken"
